<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="%nuget-packages-folder%" />
		<add key="globalPackagesFolder" value="%nuget-packages-folder%" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://www.nuget.org/api/v2" protocolVersion="2" />
		<add key="local-feed" value="%nuget-local-feed%" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>